ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88eabd;
}

#options {
    float: right;
}
#image{
	float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:  #63ab8a;
}
a { 
	color: #b3ffff;
}
#post{
	background-color: #f7e7e7;
	width: 1200;
	margin-top: 45;
	margin-left: 80;
	border: 2px solid blue;
	background-color:
	
}
.pheader{
	text-align: center;
	font-size: 22px;
}
.pbody, .pfooter{
	text-align: right;
}
