body {
	background-repeat: repeat-y; 
	background-size: auto;
	background-image: url("background.png");
}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88eabd;
}

#options {
    float: right;
}
#image{
	float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:  #63ab8a;
}
a { 
	color: #b3ffff;
}
#post{
	transition: all .25s ease-in-out;
	display: block;
	transform: translate(7%, 50%);
	width: 90%;
    height: 20%;
}

#upload {
	background-color: #edecf9;
	margin-top: 5%;
	margin-left: 5%;
}
.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}
.container::after {
	content: "";
	clear: both;
	display: table;
}
